* {
  box-sizing: border-box;
}

html {
  font-size: 72.5%;
}

body {
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

.index-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}