<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
        <ul class="nav navbar-nav ">
        <% if current_user.nil? %>
          <li>
            <%= link_to new_user_session_path do %>Sign in<% end %>
          </li>
        <% else %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
</nav>